<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="ももくろReader(仮)" />
    <meta property="og:url" content="http://momoclo-service.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <title><%= content_for?(:title) ? yield(:title) : "ももクロReader(仮)" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ももクロReader</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "メンバーブログ", "/top/index"  %></li>
              <li><%= link_to "まとめブログ", "/matome/index"  %></li>
              <li><%= link_to "Youtube", "/movie/index"  %></li>
              <li><%= link_to "About", "/about/index"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="span3">
            <div class="well sidebar-nav">
              <h3>メニュー</h3>
              <ul class="nav nav-list">
                <li class="nav-header">メニュー</li>
                <li><%= link_to "メンバーブログ", "/top/index"  %></li>
                <li><%= link_to "まとめブログ", "/matome/index"  %></li>
                <li><%= link_to "Youtube", "/movie/index"  %></li>
                <li><%= link_to "About", "/about/index"  %></li>
              </ul>
            </div><!--/.well -->
<a href="http://www.amazon.co.jp/gp/product/B00CBO716Y/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=B00CBO716Y&linkCode=as2&tag=sassyw-22"><img border="0" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00CBO716Y&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=sassyw-22" ></a><img src="http://ir-jp.amazon-adsystem.com/e/ir?t=sassyw-22&l=as2&o=9&a=B00CBO716Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="http://www.amazon.co.jp/gp/product/B00CVXA04A/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=B00CVXA04A&linkCode=as2&tag=sassyw-22"><img border="0" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00CVXA04A&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=sassyw-22" ></a><img src="http://ir-jp.amazon-adsystem.com/e/ir?t=sassyw-22&l=as2&o=9&a=B00CVXA04A" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<br />
<br />
            <div class="well sidebar-nav">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="sassy_watson" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br />
<br />
<a name="fb_share" type="button_count" share_url="http://momoclo-service.herokuapp.com/">シェア</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<br />
<br />
<iframe src="http://share.gree.jp/share?url=http%3A%2F%2Fmomoclo-service.herokuapp.com%2F&type=0&height=20" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
            </div>
          </div><!--/span-->
        </div><!--/row-->

      <footer>
        <p>&copy; ももクロReader 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>

  </body>
</html>
